# Node.js
node_modules/

# am-mocktimes
.am-mocktimes-img/

# vite
.cache/
dist/
public/dict/

# chrome-extension
chrome-extension/dist/
chrome-extension/public/dict/

# storybook
storybook-static/

# tmp
public/dict/
